/CSP_TestFramework/logs
/CSP_TestFramework/Results
/Users/Ratna-Kumar.Dangeti/Documents/GitHub/csp/target
/target
/logs
/log
*.log
/TestFramework/Results
/Users/Ratna-Kumar.Dangeti/Documents/GitHub/csp/TestFramework/config.ini
/csp/TestFramework/config.ini
config.ini
/csp/Scripts/Bigquery/log
/Users/Ratna-Kumar.Dangeti/Documents/GitHub/csp/Scripts/Bigquery/log
Scripts/Bigquery/log/
